*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(37, 37, 178);
}

.card{
    width:500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
}
.card-header{
    background-color: rgb(27, 24, 24);
    text-align: center;
}
.card-header h1{
    color: aliceblue;
}
form{
    position: relative;
}
button{
    position: absolute;
    left:80%;
    bottom:0.01%;
}